:root {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

.container {
    text-align: center;
    justify-content: space-evenly;
    padding: 200px 0 0 10px;
}

#press {
    border-radius: 26.5px;
	background-color: #001F61;
	border: 1px solid #001F61;
	box-shadow: 0 16px 22px -17px #03153B;
	color: #fff;
	cursor: pointer;
	font-size: 20px;
}